<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <title>LuzoAli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNb4kaukNeJtcF695Slr9mr7emdnNSA_JuEmaCr5-7eqkF3hGD6RUmxl53qDXIEP0Zfxs&usqp=CAU">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap?4.0.0/css/boostrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sign-in/singin.css" rel="stylesheet">
</head>
<body class="text-center">
    {% block content %}{% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>